#ext-popup {
    width: 300px;
    height: auto;
}
.btn-wrapper {
    padding: 20px;
}

/*li.collection-item:hover {
    cursor: pointer;
    background-color: antiquewhite;
}*/

.delete-icon i:hover {
    color: red;
    cursor: pointer;
}

.load-icon i:hover {
    color: green;
    cursor: pointer;
}
